{{define "bankForm" -}}
{{template "header" -}}
{{template "navbar" . -}}
<div class="container-lg">
    <form method="POST" action="./create" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="displacement" class="form-label">Ширина</label>
            <input type="number" step=0.00001 class="form-control" id="lat" name="lat">
        </div>
        <div class="mb-3">
            <label for="build_date" class="form-label">Долгота</label>
            <input type="number" step=0.00001 class="form-control" id="lng" name="lng">
        </div>

        <input type="submit" class="btn btn-primary" value="Создать">
    </form>
</div>
{{template "footer" -}}
{{end}}