{{define "createBoat"}}
{{template "header" -}}
{{template "navbar" . -}}
{{template "alert" .}}
<div class="container-lg">
    <form method="POST" action="./create" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Тип</label>
            <input type="number" class="form-control" id="type" name="type">
        </div>
        <div class="mb-3">
            <label for="displacement" class="form-label">Водоизмещение</label>
            <input type="number" class="form-control" id="displacement" name="displacement">
        </div>
        <div class="mb-3">
            <label for="build_date" class="form-label">Дата постройки</label>
            <input type="date" class="form-control" id="build_date" name="build_date">
        </div>

        <input type="submit" class="btn btn-primary" value="Создать">
    </form>
</div>
{{template "footer" -}}
{{end}}