{{define "deleteBoat"}}
{{template "header" -}}
{{template "navbar" . -}}
<div class="container-lg">
    <h1>Вы точно хотите удалить судно "{{ .boatName }}"?</h1>
    <form action="/boats/{{ .boatID }}/delete" method="post">
        <input type="text" name="boatName" id="boatName" hidden value="{{ .boatName }}">
        <input type="text" id="inputBoatName" name="inputBoatName" class="form-control"
            aria-describedby="boatHelpBlock">
        <div id="boatHelpBlock" class="form-text">Для подтверждения введите название судна в текстовое поле.</div>
        <button type="submit" class="btn btn-danger">Подтвердить</button>
    </form>
</div>
{{template "footer" -}}
{{end}}