{{define "createEmployee"}}
{{template "header" -}}
{{template "navbar" . -}}
<div class="container-lg">
    <form method="POST" action="./create" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="lastname" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
        </div>
        <div class="mb-3">
            <label for="middlename" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="middlename" name="middlename">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="mb-3">
            <label for="birth_date" class="form-label">Дата рождения</label>
            <input type="date" class="form-control" id="birth_date" name="birth_date" required>
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">Номер должности</label>
            <input type="number" class="form-control" id="position" name="position" required>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Создать">
    </form>
</div>
{{template "footer" -}}
{{end}}